
html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

header {
    background:sienna;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    background:burlywood;
}

/* Add your flexbox CSS below here */
section {
    display: flex;
    flex-direction: row-reverse;
}

